body {
  margin: 0;
  padding: 0;
  font-family: Pretendard, Arial, sans-serif;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: bg-rolling 15s infinite;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation: fade-in 2s ease-in-out;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
  height: 40px;
}

nav {
  margin-left: 20px; /* 좌측 로고 이미지의 좌측 마진과 동일한 우측 마진 설정 */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #3356D5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.main-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
    text-align: center;
}

.main-content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fade-in 2s ease-in-out;
}

.main-content p {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  line-height: 1.2;
  opacity: 0; /* 초기에는 투명하게 설정 */
  transition: opacity 1s ease-in-out; /* 천천히 나타나는 트랜지션 */
}

.main-content p.visible {
  opacity: 1; /* 나타나는 애니메이션 클래스 */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-rolling {
  0%, 100% {
    background-image: url('background1.png');
  }
  33% {
    background-image: url('background2.png');
  }
  66% {
    background-image: url('background3.png');
  }
}

.mobile-menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-menu-modal nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu-modal nav ul li {
  margin: 10px 0;
  top: 50%;
}

.mobile-menu-modal nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s;
}

.mobile-menu-modal nav ul li a:hover {
  color: #3356D5;
}

.mobile-menu-btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 6px 0;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  nav ul {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .main-content p, .coming-soon {
    font-size: 1.5rem;
  }
}

